/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#header {
  background: url("../img/banner-bg.png") no-repeat;
}

@media screen and (min-width: 1140px) {
  #header {
    background-size: cover;
  }
}

body#press-brand #header {
  background: none;
}

body.inner-page #header #banner {
  min-height: 650px;
}

body.inner-page #header #banner .page-title {
  color: #333333;
  margin: 300px 0 0 0;
}

body#press-brand #header #banner {
  min-height: 0px;
}

body#press-brand #header #banner .page-title {
  margin: 200px 0 120px 0;
  font-family: Raleway;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

#header #banner .banner-content h3 {
  margin: 365px 0 0 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.56;
  letter-spacing: 0.9px;
  color: #484848;
}

@media screen and (max-width: 767px) {
  #header #banner .banner-content h3 {
    margin: 160px 0 0 0;
  }
}

#header #banner .banner-content span {
  font-weight: bold;
  color: #2e2e2e;
}

#header #banner .banner-content button {
  background: #ffd746;
  border-radius: 47px;
  padding: 15px 40px;
  border: 0 none;
  margin: 45px 0 0 0;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #ffffff;
}

#header #banner .banner-content #downloads {
  margin-top: 30px;
}

#header #banner .banner-content #downloads .download-app img {
  max-width: 150px;
}

#header #banner .banner-img {
  margin: 110px 0 0 0;
}

#header #banner .banner-img img {
  max-width: 85%;
}

.navbar {
  background: none !important;
  border: 0 none !important;
}

@media screen and (max-width: 767px) {
  .navbar .container {
    background: #ffffff;
  }
}

.navbar.navbar-fixed-top.scrolled {
  background: #ffffff !important;
}

.navbar.navbar-fixed-top.scrolled .navbar-right li a {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
}

.navbar.navbar-fixed-top.scrolled .navbar-right li a:hover {
  color: #3bafbf;
}

.navbar.navbar-fixed-top.scrolled .social-links li a {
  color: #333333;
}

.navbar.navbar-fixed-top.scrolled .social-links li a:hover {
  color: #3bafbf;
}

.navbar .navbar-brand {
  padding-top: 47px;
}

@media screen and (max-width: 767px) {
  .navbar .navbar-brand {
    padding-top: 10px;
  }
}

.navbar .navbar-brand img {
  max-width: 180px;
}

.navbar .social-links {
  margin: 27px 0 0 0;
}

.navbar .social-links li a {
  color: #ffffff;
  text-decoration: none;
}

.navbar .social-links li a:hover {
  color: #3bafbf;
}

body#press-brand .navbar .social-links li a {
  color: #000000;
}

.navbar .navbar-right {
  padding-top: 0px;
}

.navbar .navbar-right li a {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-shadow: none !important;
}

.navbar .navbar-right li a:hover {
  color: #3bafbf;
}

body#press-brand .navbar .navbar-right li a {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #000000;
}

.navbar.navbar-inverse .navbar-toggle {
  background-color: #fff;
}

.navbar.navbar-inverse .navbar-toggle:focus {
  background-color: #fff;
}

.navbar.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #333;
}

.navbar #navbar.collapse.in {
  background: #ffffff;
}

.navbar #navbar.collapse.in li a {
  color: #333333 !important;
}

#why-betterself {
  background: url(../img/why-betterself-bg.png) no-repeat;
  padding: 200px 0 0 0;
}

@media screen and (min-width: 1140px) {
  #why-betterself {
    background-size: cover;
  }
}

#why-betterself .container {
  background: #ffffff;
}

#why-betterself .heading {
  padding: 124px 0 0 0;
}

#why-betterself .heading h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #2e2e2e;
}

#why-betterself .heading p {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #999ca2;
}

#why-betterself .items {
  margin: 90px 0 120px 0;
}

#why-betterself .items .title {
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #525761;
}

#why-betterself .items .content {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #616773;
}

@media screen and (max-width: 768px) {
  #why-betterself .items .content {
    margin: 0 0 40px 0;
  }
}

#app-features .container {
  background: #ffffff;
}

#app-features .heading {
  padding: 70px 0 0 0;
}

#app-features .heading h2 {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  color: #2e2e2e;
}

#app-features .heading p {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #999ca2;
}

#app-features .items {
  margin: 90px 0 60px 0;
}

#app-features .items .nav-tabs h3 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: center;
  color: #555555;
}

#app-features .items .nav-tabs li.active a {
  border: 0 none !important;
  border-bottom: 4px solid #5ccec5 !important;
}

#app-features .items .nav-tabs li a {
  border: 0 none !important;
}

#app-features .items .tab-content .features-img {
  max-width: 90%;
  margin: 90px 0 0 0;
}

#app-features .items .tab-content .content {
  margin: 200px 0 0 0;
  padding: 0 0 0 30px;
}

#app-features .items .tab-content .content h3 {
  font-size: 28px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #555555;
}

@media screen and (max-width: 767px) {
  #app-features .items .tab-content .content h3 {
    word-wrap: break-word;
  }
}

#app-features .items .tab-content .content p {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #6f6f6f;
}

#app-features .items .title {
  color: #525761;
  font-size: 20px;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

#app-features .items .content {
  color: #616773;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  #app-features .items #myTab-accordion .features-img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #app-features .items #myTab-accordion .content h3 {
    word-wrap: break-word;
  }
}

#app-features .items #myTab-accordion .panel-title a {
  display: block;
  text-align: center;
}

#testimonials {
  background: #fafafa;
  padding: 85px 0 60px 0;
}

#testimonials .title {
  margin: 100px 0 0 0;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: right;
  color: #2e2e2e;
}

@media screen and (max-width: 767px) {
  #testimonials .title {
    margin: 0 30px 0 0;
  }
}

#testimonials .title span {
  font-weight: 800;
}

#testimonials .carousel-indicators {
  bottom: -40px;
  left: 40px;
}

#testimonials .carousel-indicators li {
  background: #95a69f;
  opacity: 0.3;
}

#testimonials .carousel-indicators li.active {
  opacity: 1;
}

#testimonials .carousel-inner .content {
  background: #ffffff;
  padding: 70px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #555555;
  font-size: 17px;
  border-radius: 70px;
  border-bottom-left-radius: 0px;
}

#testimonials .carousel-inner .user img {
  float: left;
  margin: -25px 0 0 0;
  border-radius: 50%;
  max-width: 72px;
}

#testimonials .carousel-inner .user h5 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #817e7e;
  margin: 15px 0 0 20px;
  display: inline-block;
}

footer {
  background: #272727;
  padding: 60px 0;
}

footer h3 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

footer p {
  font-size: 21px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.8;
}

footer p a {
  color: #ffffff;
}

footer p.copy {
  font-size: 13px;
  opacity: 0.5;
  margin: 20px 0 0 0;
}

footer .social-links li a {
  width: 27px;
  height: 27px;
  color: #ffffff;
  background: #373737;
  text-align: center;
  padding: 6px 0 0 0;
  text-decoration: none;
}

footer .store {
  margin: 20px 0 0 0;
}

footer .store img {
  margin: 0 0 10px 0;
  max-width: 100%;
}

footer .press {
  margin: 0;
}

footer .press a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

footer .press a:hover {
  color: #ffffff;
}

.page-content {
  padding: 30px 0 70px 0;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #555555;
  font-size: 17px;
}

.page-content p,
.page-content ul,
.page-content ol,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  margin-bottom: 14px;
}

#faq .page-content .panel-group .panel {
  border: 0 none;
  border-bottom: 1px solid #333333;
  border-radius: 0;
  -webkit-box-shadow: 0 none;
          box-shadow: 0 none;
}

#faq .page-content .panel-group .panel.panel-default .panel-heading {
  border-bottom: 0 none !important;
}

#faq .page-content .panel-group .panel a {
  text-decoration: none;
}

#faq .page-content .panel-group .panel .panel-heading {
  border: 0 none !important;
  background: none;
}

#faq .page-content .panel-group .panel .panel-heading a {
  font-size: 20px;
}

#faq .page-content .panel-group .panel .panel-body {
  border: 0 none;
}

#faq .page-content .panel-group .panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
  font-size: 10px;
}

#faq .page-content .panel-group .panel-heading .accordion-toggle.collapsed:after {
  content: "\e080";
}

#press-brand .page-content {
  padding: 0;
}

#press-brand .page-content #our-mission {
  background: url("../img/our-mission.jpg");
  padding: 120px 0 120px 0;
  background-size: contain;
}

#press-brand .page-content #our-mission h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #05eadd;
  margin-bottom: 40px;
}

#press-brand .page-content #our-mission h5 {
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

#press-brand .page-content #our-mission p {
  font-size: 20px;
  line-height: 1.7;
  text-align: justify;
  color: #000000;
}

#press-brand .page-content #how-betterself-different h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: 80px 0 80px 0;
}

#press-brand .page-content #how-betterself-different h3 span {
  color: #05eadd;
}

#press-brand .page-content #how-betterself-different .item {
  border-radius: 50px;
  -webkit-box-shadow: 0 0 42px 0 rgba(233, 233, 233, 0.5);
          box-shadow: 0 0 42px 0 rgba(233, 233, 233, 0.5);
  border: solid 0.5px #05eadd;
  background-color: #ffffff;
  padding: 35px 25px 30px 25px;
  margin: 0 0 10px 0;
}

#press-brand .page-content #how-betterself-different .item h4 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

#press-brand .page-content #how-betterself-different .item p {
  font-size: 16px;
  line-height: 1.81;
  color: #000000;
}

#press-brand .page-content #app-info-n-media .container-fluid {
  background-color: #464d4d;
}

#press-brand .page-content #app-info-n-media .app-info-wrap {
  background-color: #05eadd;
  border-top-right-radius: 70px;
}

#press-brand .page-content #app-info-n-media #app-info, #press-brand .page-content #app-info-n-media #media {
  padding: 120px 0 120px 0;
}

#press-brand .page-content #app-info-n-media #app-info h2, #press-brand .page-content #app-info-n-media #media h2 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

#press-brand .page-content #app-info-n-media #app-info hr, #press-brand .page-content #app-info-n-media #media hr {
  width: 217px;
  float: left;
}

#press-brand .page-content #app-info-n-media #app-info .item, #press-brand .page-content #app-info-n-media #media .item {
  margin: 30px 0 0 0;
  clear: both;
}

#press-brand .page-content #app-info-n-media #app-info .item h5, #press-brand .page-content #app-info-n-media #media .item h5 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 5px;
}

#press-brand .page-content #app-info-n-media #app-info .item p, #press-brand .page-content #app-info-n-media #media .item p {
  font-size: 25px;
  color: #ffffff;
}

#press-brand .page-content #app-info-n-media #media {
  padding-bottom: 0;
}

#press-brand .page-content #app-info-n-media #media .content {
  padding: 0 0 0 100px;
}

@media screen and (max-width: 768px) {
  #press-brand .page-content #app-info-n-media #media .content {
    padding: 0 0 0 0;
  }
}

#press-brand .page-content #app-info-n-media #media .content .row {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  #press-brand .page-content #app-info-n-media #media .content .row {
    margin-bottom: 0;
  }
}

#press-brand .page-content #app-info-n-media #media .content .media-item {
  clear: both;
}

#press-brand .page-content #app-info-n-media #media .content .media-item .rectangle {
  width: 101px;
  height: 101px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.18);
  background-color: #464d4d;
  position: relative;
  float: left;
}

@media screen and (max-width: 768px) {
  #press-brand .page-content #app-info-n-media #media .content .media-item .rectangle {
    margin-bottom: 40px;
  }
}

#press-brand .page-content #app-info-n-media #media .content .media-item .rectangle img {
  top: 30%;
  left: 40%;
  position: absolute;
  cursor: pointer;
}

#press-brand .page-content #app-info-n-media #media .content .media-item .rectangle .zip {
  width: 16px;
  height: 11px;
  font-size: 10px;
  font-weight: bold;
  top: 10px;
  right: 10px;
  position: absolute;
  color: #05eadd;
}

#press-brand .page-content #app-info-n-media #media .content .media-item .content {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 40px 0 0 10px;
  padding: 0;
  float: left;
}

@media screen and (max-width: 1320px) and (min-width: 768px) {
  #press-brand .page-content #app-info-n-media #media .content .media-item .content {
    margin-top: 10px;
    clear: both;
  }
}

#press-brand .page-content #our-story {
  padding: 100px 0;
}

#press-brand .page-content #our-story h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #05eadd;
  margin: 0 0 50px 0;
}

#press-brand .page-content #our-story p {
  font-size: 17px;
  line-height: 2;
  text-align: center;
  color: #000000;
}

#press-brand .page-content #video {
  padding: 100px 0 0 0;
}

@media screen and (max-width: 768px) {
  #press-brand .page-content #video .col-sm-6 {
    margin: 0 0 40px 0;
  }
}

#press-brand .page-content #video .video-item {
  position: relative;
}

#press-brand .page-content #video .video-item .logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9999;
}

#press-brand .page-content #video .video-item .logo img {
  max-width: 57px;
}

@media screen and (max-width: 768px) {
  #press-brand .page-content #video .video-item .logo img {
    max-width: 30px;
  }
}

#press-brand .page-content #contact {
  padding-bottom: 80px;
}

#press-brand .page-content #contact .social a {
  color: #4a4a4a;
  font-size: 30px;
  margin: 0 15px 25px 0;
}

#press-brand .page-content #contact h4 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

#press-brand .page-content #contact p {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

#press-brand .page-content #contact p a {
  color: #000;
}
/*# sourceMappingURL=main.css.map */