/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#header {
    background: url('../img/banner-bg.png') no-repeat;

    @media screen and (min-width: 1140px) {
        background-size: cover;
    }

    body#press-brand & {
        background: none;
    }

    #banner {
        body.inner-page & {
            min-height: 650px;

            .page-title {
                color: #333333;
                margin: 300px 0 0 0;
            }
        }

        body#press-brand & {
            min-height: 0px;

            .page-title {
                margin: 200px 0 120px 0;
                font-family: Raleway;
                font-size: 45px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #000000;
            }
        }

        .banner-content {
            h3 {
                margin: 365px 0 0 0;
                // font-family: 'Averta';
                font-size: 32px;
                font-weight: 300;
                line-height: 1.56;
                letter-spacing: 0.9px;
                color: #484848;

                @media screen and (max-width: 767px) {
                    margin: 160px 0 0 0;
                }
            }

            span {
                font-weight: bold;
                color: #2e2e2e;
            }

            button {
                background: #ffd746;
                border-radius: 47px;
                padding: 15px 40px;
                border: 0 none;
                margin: 45px 0 0 0;
                // font-family: 'Gilroy';
                font-size: 17px;
                font-weight: 800;
                letter-spacing: 0.5px;
                color: #ffffff;
            }
            #downloads{
                margin-top: 30px;
                .download-app{
                    img{
                        max-width: 150px;
                    }
                }
            }
        }

        .banner-img {
            margin: 110px 0 0 0;

            img {
                max-width: 85%;
            }
        }
    }
}

.navbar {
    background: none !important;
    border: 0 none !important;

    .container {
        @media screen and (max-width: 767px) {
            background: #ffffff;
        }
    }

    &.navbar-fixed-top {
        &.scrolled {
            background: #ffffff !important;

            .navbar-right {
                li {
                    a {
                        color: #333333;
                        // font-family: 'Gilroy';
                        font-size: 15px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0px;

                        &:hover {
                            color: #3bafbf;
                        }
                    }
                }
            }

            .social-links {
                li {
                    a {
                        color: #333333;

                        &:hover {
                            color: #3bafbf;
                        }
                    }
                }
            }
        }
    }

    .navbar-brand {
        padding-top: 47px;

        @media screen and (max-width: 767px) {
            padding-top: 10px;
        }

        img {
            max-width: 180px;
        }
    }

    .social-links {
        margin: 27px 0 0 0;

        li {
            a {
                color: #ffffff;
                text-decoration: none;

                &:hover {
                    color: #3bafbf;
                }

                body#press-brand & {
                    color: #000000;
                }
            }
        }
    }

    .navbar-right {
        padding-top: 0px;

        li {
            a {
                color: #ffffff;
                // font-family: 'Gilroy';
                font-size: 15px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                text-shadow: none !important;

                &:hover {
                    color: #3bafbf;
                }

                body#press-brand & {
                    font-size: 15px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    // line-height: 0.8;
                    letter-spacing: normal;
                    color: #000000;
                }
            }
        }
    }

    &.navbar-inverse {
        .navbar-toggle {
            background-color: #fff;

            &:focus {
                background-color: #fff;
            }

            .icon-bar {
                background-color: #333;
            }
        }
    }

    #navbar {
        &.collapse.in {
            background: #ffffff;

            li {
                a {
                    color: #333333 !important;
                }
            }
        }
    }
}

#why-betterself {
    background: url(../img/why-betterself-bg.png) no-repeat;
    padding: 200px 0 0 0;

    @media screen and (min-width: 1140px) {
        background-size: cover;
    }

    .container {
        background: #ffffff;
    }

    .heading {
        padding: 124px 0 0 0;

        h2 {
            // font-family: 'Gilroy';
            font-size: 32px;
            font-weight: bold;
            letter-spacing: 0.9px;
            color: #2e2e2e;
        }

        p {
            // font-family: 'Averta';
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.4px;
            color: #999ca2;
        }
    }

    .items {
        margin: 90px 0 120px 0;

        .title {
            margin: 10px 0 10px 0;
            // font-family: 'Averta';
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #525761;
        }

        .content {
            // font-family: 'Averta';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
            text-align: center;
            color: #616773;

            @media screen and (max-width: 768px) {
                margin: 0 0 40px 0;
            }
        }

    }
}

#app-features {
    .container {
        background: #ffffff;
    }

    .heading {
        padding: 70px 0 0 0;

        h2 {
            // font-family: 'Gilroy';
            font-size: 32px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
            color: #2e2e2e;
        }

        p {
            // font-family: 'Averta';
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            text-align: center;
            color: #999ca2;
        }
    }

    .items {
        margin: 90px 0 60px 0;

        .nav-tabs {
            h3 {
                // font-family: 'Averta';
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0px;
                text-align: center;
                color: #555555;
            }

            li {
                &.active {
                    a {
                        border: 0 none !important;
                        border-bottom: 4px solid #5ccec5 !important;
                    }
                }

                a {
                    border: 0 none !important;

                }
            }

        }

        .tab-content {
            .features-img {
                max-width: 90%;
                margin: 90px 0 0 0;
            }

            .content {
                margin: 200px 0 0 0;
                padding: 0 0 0 30px;

                h3 {
                    // font-family: 'Gilroy';
                    font-size: 28px;
                    font-weight: 800;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0px;
                    color: #555555;

                    @media screen and (max-width: 767px) {
                        word-wrap: break-word;
                    }
                }

                p {
                    // font-family: 'Averta';
                    font-size: 17px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0px;
                    color: #6f6f6f;
                }
            }
        }

        .title {
            // font-family: 'Averta-Bold';
            color: #525761;
            font-size: 20px;
            margin: 10px 0 10px 0;
            font-weight: bold;
        }

        .content {
            // font-family: 'Averta-Regular';
            color: #616773;
            font-size: 14px;
        }

        #myTab-accordion {
            .features-img {
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }

            .content {
                h3 {
                    @media screen and (max-width: 767px) {
                        word-wrap: break-word;
                    }
                }
            }

            .panel-title {
                a {
                    display: block;
                    text-align: center;
                }
            }
        }

    }
}

#testimonials {
    background: #fafafa;
    padding: 85px 0 60px 0;

    .title {
        margin: 100px 0 0 0;
        // font-family: 'Gilroy';
        font-size: 32px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0px;
        text-align: right;
        color: #2e2e2e;

        @media screen and (max-width: 767px) {
            margin: 0 30px 0 0;
        }

        span {
            font-weight: 800;
        }
    }

    .carousel-indicators {
        bottom: -40px;
        left: 40px;

        li {
            background: #95a69f;
            opacity: 0.3;

            &.active {
                opacity: 1;
            }
        }
    }

    .carousel-inner {
        .content {
            background: #ffffff;
            padding: 70px;
            // font-family: 'Averta';
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            color: #555555;
            font-size: 17px;
            border-radius: 70px;
            border-bottom-left-radius: 0px;
        }

        .user {
            img {
                float: left;
                margin: -25px 0 0 0;
                border-radius: 50%;
                max-width: 72px;
            }

            h5 {
                // font-family: 'Gilroy';
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0px;
                color: #817e7e;
                margin: 15px 0 0 20px;
                display: inline-block;
            }
        }
    }
}

footer {
    background: #272727;
    padding: 60px 0;

    h3 {
        // font-family: 'Gilroy';
        font-size: 36px;
        font-weight: bold;
        color: #ffffff;
    }

    p {
        // font-family: 'Gilroy';
        font-size: 21px;
        font-weight: 500;
        color: #ffffff;
        opacity: 0.8;

        a {
            color: #ffffff;
        }

        &.copy {
            font-size: 13px;
            opacity: 0.5;
            margin: 20px 0 0 0;
        }
    }

    .social-links {
        li {
            a {
                width: 27px;
                height: 27px;
                color: #ffffff;
                background: #373737;
                text-align: center;
                padding: 6px 0 0 0;
                text-decoration: none;
            }
        }
    }

    .store {
        margin: 20px 0 0 0;

        img {
            margin: 0 0 10px 0;
            max-width: 100%;
        }
    }
    .press{
        margin: 0;
        a{
            color: #ffffff;
            font-size: 16px;
            text-decoration: none;
            &:hover{
                color: #ffffff;
            }
        }
    }
}

.page-content {
    padding: 30px 0 70px 0;
    // font-family: 'Averta';
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #555555;
    font-size: 17px;

    p,
    ul,
    ol,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 14px;
    }

    #faq & {
        .panel-group {
            .panel {
                border: 0 none;
                border-bottom: 1px solid #333333;
                border-radius: 0;
                box-shadow: 0 none;

                &.panel-default {
                    .panel-heading {
                        border-bottom: 0 none !important;
                    }
                }

                a {
                    text-decoration: none;
                }


                .panel-heading {
                    border: 0 none !important;
                    background: none;

                    a {
                        font-size: 20px;
                    }
                }

                .panel-body {
                    border: 0 none;
                }

            }

            .panel-heading .accordion-toggle:after {
                font-family: 'Glyphicons Halflings';
                content: "\e114";
                float: right;
                color: grey;
                font-size: 10px;
            }

            .panel-heading .accordion-toggle.collapsed:after {
                content: "\e080";
            }
        }
    }

    #press-brand & {
        padding: 0;

        #our-mission {
            background: url('../img/our-mission.jpg');
            padding: 120px 0 120px 0;
            background-size: contain;

            h3 {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                color: #05eadd;
                margin-bottom: 40px;
            }

            h5 {
                font-size: 20px;
                line-height: 1.7;
                text-align: center;
                color: #000000;
                font-weight: bold;
            }

            p {
                font-size: 20px;
                line-height: 1.7;
                text-align: justify;
                color: #000000;
            }
        }

        #how-betterself-different {
            h3 {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                color: #000000;
                margin: 80px 0 80px 0;

                span {
                    color: #05eadd;
                }
            }

            .item {
                border-radius: 50px;
                box-shadow: 0 0 42px 0 rgba(233, 233, 233, 0.5);
                border: solid 0.5px #05eadd;
                background-color: #ffffff;
                padding: 35px 25px 30px 25px;
                margin: 0 0 10px 0;

                h4 {
                    font-size: 20px;
                    font-weight: bold;
                    color: #000000;
                }

                p {
                    font-size: 16px;
                    line-height: 1.81;
                    color: #000000;
                }
            }
        }

        #app-info-n-media {
            .container-fluid {
                background-color: #464d4d;
            }

            .app-info-wrap {
                background-color: #05eadd;
                border-top-right-radius: 70px;
            }

            #app-info {

                padding: 120px 0 120px 0;

                h2 {
                    font-size: 30px;
                    font-weight: bold;
                    color: #ffffff;
                }

                hr {
                    width: 217px;
                    float: left;
                }

                .item {
                    margin: 30px 0 0 0;
                    clear: both;

                    h5 {
                        font-size: 16px;
                        font-weight: bold;
                        color: #ffffff;
                        text-transform: uppercase;
                        text-align: left;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 25px;
                        color: #ffffff;
                    }
                }
            }

            #media {
                @extend #app-info;
                padding-bottom: 0;

                .content {
                    padding: 0 0 0 100px;
                    @media screen and (max-width: 768px) {
                        padding: 0 0 0 0;
                    }

                    .row {
                        margin-bottom: 50px;
                        @media screen and (max-width: 768px) {
                            margin-bottom: 0;
                        }
                    }

                    .media-item {
                        clear: both;

                        .rectangle {
                            width: 101px;
                            height: 101px;
                            border-radius: 10px;
                            box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.18);
                            background-color: #464d4d;
                            position: relative;
                            float: left;
                            @media screen and (max-width: 768px) {
                                margin-bottom: 40px;
                            }

                            img {

                                top: 30%;
                                left: 40%;
                                position: absolute;
                                cursor: pointer;
                            }

                            .zip {
                                width: 16px;
                                height: 11px;
                                font-size: 10px;
                                font-weight: bold;
                                top: 10px;
                                right: 10px;
                                position: absolute;
                                color: #05eadd;
                            }
                        }

                        .content {
                            font-size: 15px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #ffffff;
                            margin: 40px 0 0 10px;
                            padding: 0;
                            float: left;
                            @media screen and (max-width: 1320px) and (min-width: 768px){
                                margin-top: 10px;
                                clear: both;
                            }

                        }
                    }
                }
            }
        }

        #our-story {
            padding: 100px 0;

            h3 {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                color: #05eadd;
                margin: 0 0 50px 0;
            }

            p {
                font-size: 17px;
                line-height: 2;
                text-align: center;
                color: #000000;
            }
        }

        #video {
            padding: 100px 0 0 0;

            .col-sm-6 {

                @media screen and (max-width: 768px) {
                    margin: 0 0 40px 0;
                }
            }
            .video-item{
                position: relative;
                .logo{
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    z-index: 9999;
                    img{
                        max-width: 57px;
                        @media screen and (max-width: 768px) {
                            max-width: 30px;
                        }
                    }
                }
            }
        }

        #contact {
            padding-bottom: 80px;

            .social {
                a {
                    color: #4a4a4a;
                    font-size: 30px;
                    margin: 0 15px 25px 0;
                }
            }

            h4 {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                color: #000000;
            }

            p {
                font-size: 17px;
                font-weight: 500;
                text-align: center;
                color: #000000;
                a{
                    color: #000;
                }
            }
        }
    }
}